{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'shop:accueil' %}">Accueil</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'shop:shop' %}">Boutique</a>
                    <span class="breadcrumb-item active">Detail</span>
                </nav>
            </div>
        </div>
    </div>

    <!-- Breadcrumb End -->

        <!-- Shop Detail Start -->
        <div class="container-fluid pb-5">
            <div class="row px-xl-5">
                <div class="col-lg-5 mb-30">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner bg-light">
                            <div class="carousel-item active">
                                {% if product_object.imageUrl %}
                                    <img class="w-100 h-100" src="{{ product_object.imageUrl }}" alt="{{ product_object.name }}">
                                {% else %}
                                    <img class="w-100 h-100" src="/static/images/placeholder.png" alt="Image non disponible">
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if product_object.imageUrltwo %}
                                    <img class="w-100 h-100" src="{{ product_object.imageUrltwo }}" alt="{{ product_object.name }}">
                                {% else %}
                                    <img class="w-100 h-100" src="/static/images/placeholder.png" alt="Image non disponible">
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if product_object.imageUrlthree %}
                                    <img class="w-100 h-100" src="{{ product_object.imageUrlthree }}" alt="{{ product_object.name }}">
                                {% else %}
                                    <img class="w-100 h-100" src="/static/images/placeholder.png" alt="Image non disponible">
                                {% endif %}
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                            <i class="fa fa-2x fa-angle-left text-dark"></i>
                        </a>
                        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                            <i class="fa fa-2x fa-angle-right text-dark"></i>
                        </a>
                    </div>
                </div>
    
                <div class="col-lg-7 h-auto mb-30">
                    <div class="h-100 bg-light p-30">
                        <h3>{{  product_object.name  }}</h3>
                        <div class="d-flex mb-3">
                            <div class="text-primary mr-2">
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star-half-alt"></small>
                                <small class="far fa-star"></small>
                            </div>
                            <small class="pt-1">(99 Reviews)</small>
                        </div>
                        <h3 class="font-weight-semi-bold mb-4">{{  product_object.price  }} FCFA</h3>
                        <p class="mb-4">{{  product_object.description  }}</p>
                            
                        <div class="d-flex align-items-center mb-4 pt-2">
                            <div class="input-group quantity mr-3" style="width: 130px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-minus update-panier" data-produit="{{product_object.pk}}" 
                                    data-action="remove">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control bg-secondary border-0 text-center" value="{{ nombre_article }}">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-plus update-panier" data-produit="{{product_object.pk}}" 
                                    data-action="add">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <a class="btn btn-primary px-3 add-btn" href="{% url 'shop:panier'  %}"><i class="fa fa-shopping-cart mr-1"></i>Voir dans le panier</a>
                            <button class="btn btn-outline-danger px-3 ml-2 toggle-favoris" data-produit="{{product_object.pk}}">
                                <i class="far fa-heart mr-1"></i>Ajouter aux favoris
                            </button>
                        </div>
                   
                    </div>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="bg-light p-30">
                        <div class="nav nav-tabs mb-4">
                            <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                            <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>
                            <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-pane-1">
                                <h4 class="mb-3">Product Description</h4>
                                <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>
                                <p>Dolore magna est eirmod sanctus dolor, amet diam et eirmod et ipsum. Amet dolore tempor consetetur sed lorem dolor sit lorem tempor. Gubergren amet amet labore sadipscing clita clita diam clita. Sea amet et sed ipsum lorem elitr et, amet et labore voluptua sit rebum. Ea erat sed et diam takimata sed justo. Magna takimata justo et amet magna et.</p>
                            </div>
                            <div class="tab-pane fade" id="tab-pane-2">
                                <h4 class="mb-3">Additional Information</h4>
                                <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item px-0">
                                                Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                            </li>
                                            <li class="list-group-item px-0">
                                                Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                            </li>
                                            <li class="list-group-item px-0">
                                                Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                            </li>
                                            <li class="list-group-item px-0">
                                                Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                            </li>
                                          </ul> 
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item px-0">
                                                Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                            </li>
                                            <li class="list-group-item px-0">
                                                Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                            </li>
                                            <li class="list-group-item px-0">
                                                Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                            </li>
                                            <li class="list-group-item px-0">
                                                Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                            </li>
                                          </ul> 
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-pane-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="mb-4">1 review for "Product Name"</h4>
                                        <div class="media mb-4">
                                            <div src="style="background-color: #6c757d; display: flex; align-items: center; justify-content: center; color: white; font-size: 12px;">👤" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;"></div>
                                            <div class="media-body">
                                                <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                                <div class="text-primary mb-2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="mb-4">Leave a review</h4>
                                        <small>Your email address will not be published. Required fields are marked *</small>
                                        <div class="d-flex my-3">
                                            <p class="mb-0 mr-2">Your Rating * :</p>
                                            <div class="text-primary">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                        <form>
                                            <div class="form-group">
                                                <label for="message">Your Review *</label>
                                                <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Your Name *</label>
                                                <input type="text" class="form-control" id="name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Your Email *</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group mb-0">
                                                <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Detail End -->
    

    <script type="text/javascript">
     
        $(document).ready(function(){
            // Ajouter le token CSRF
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
  
            // Gestionnaire d'événements pour le clic sur le bouton "Ajouter au panier"
            $(".update-panier").on("click", function(event){
                event.preventDefault();
                var produitId = $(this).data('produit');
                var action = $(this).data('action');
                var $btn = $(this);
                
                $.ajax({
                    url: '{% url "shop:update_article" %}',
                    type: 'POST',
                    data: {
                        'produit_id': produitId,
                        'action': action,
                        'csrfmiddlewaretoken': csrftoken
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (action === 'add') {
                            $btn.find('i').removeClass('fa-plus').addClass('fa-check');
                            setTimeout(function(){
                                $btn.find('i').removeClass('fa-check').addClass('fa-plus');
                            }, 1000);
                        } else if (action === 'remove') {
                            $btn.find('i').removeClass('fa-minus').addClass('fa-check');
                            setTimeout(function(){
                                $btn.find('i').removeClass('fa-check').addClass('fa-minus');
                            }, 1000);
                        }
                    },
                    error: function() {
                        alert('Erreur lors de la mise à jour du panier');
                    }
                });
            });

            // Gestion du toggle des favoris
            $('.toggle-favoris').on('click', function(e){
                e.preventDefault();
                var produitId = $(this).data('produit');
                var $btn = $(this);
                var $icon = $btn.find('i');
                
                $.ajax({
                    url: '{% url "shop:toggle_favoris" %}',
                    type: 'POST',
                    data: {
                        'produit_id': produitId,
                        'csrfmiddlewaretoken': csrftoken
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.includes('ajouté')) {
                            $icon.removeClass('far').addClass('fas');
                            $btn.removeClass('btn-outline-danger').addClass('btn-danger');
                            $btn.html('<i class="fas fa-heart mr-1"></i>Retirer des favoris');
                            // Mettre à jour le compteur des favoris
                            updateFavorisCounter(1);
                        } else if (data.includes('retiré')) {
                            $icon.removeClass('fas').addClass('far');
                            $btn.removeClass('btn-danger').addClass('btn-outline-danger');
                            $btn.html('<i class="far fa-heart mr-1"></i>Ajouter aux favoris');
                            // Mettre à jour le compteur des favoris
                            updateFavorisCounter(-1);
                        } else if (data.includes('connecter')) {
                            alert('Veuillez vous connecter pour ajouter aux favoris');
                            window.location.href = '{% url "shop:login" %}';
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log('Erreur AJAX:', xhr.responseText);
                        alert('Erreur lors de la mise à jour des favoris: ' + xhr.responseText);
                    }
                });
            });

            // Fonction pour mettre à jour le compteur des favoris
            function updateFavorisCounter(change) {
                $('.badge').each(function() {
                    var $badge = $(this);
                    var $parent = $badge.closest('a');
                    
                    // Vérifier si c'est un badge de favoris (à côté d'une icône de cœur)
                    if ($parent.find('i.fa-heart').length > 0) {
                        var currentCount = parseInt($badge.text().trim()) || 0;
                        var newCount = Math.max(0, currentCount + change);
                        $badge.text(newCount);
                        
                        if (newCount > 0) {
                            $badge.show();
                        } else {
                            $badge.hide();
                        }
                    }
                });
            }
        });
      
     </script>


{% endblock content %}