{% extends "base.html" %}

{% load static %}

{% block footer %}

    <!-- footer debut -->
    <section class="footer" id="footer">
        <div class="main-footer">
            <div class="footer-footer">

                <li><a href="#">Boutique</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">footer</a></li>

            </div>

            <div class="footer-content">
                <li><a href="#">Shipping & Returns</a></li>
                <li><a href="#">Store Policy</a></li>
                <li><a href="#">Payment Methods</a></li>
            </div>

            <div class="footer-content">
                <li><a href="#">footer</a></li>
                <li><a href="#">Tel: 07 799 802 35</a></li>
            </div>

            <div class="footer-content">
                <li><a href="#">footer</a></li>
                <li><a href="#">Tel: 07 799 802 35</a></li>
            </div>

            <div class="footer-content">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Pinterest</a></li>
            </div>

            <div class="action">
                <form action="">
                    <input type="email" name="email" placeholder="Entrez votre email" required>
                    <input type="submit" name="submit" value="Submit" required>
                </form>
            </div>
        </div>
    </section>

    <div class="last">
        <p>@2024 par SORO PELMANSION. E-commerce S'SHOP AFRICAN</p>

    </div>



    <!-- footer fin -->

{% endblock footer %}