{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<!-- Breadcrumb Start -->
<div class="container">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'shop:accueil' %}">Acceuil</a>
                <a class="breadcrumb-item text-dark" href="{% url 'shop:shop' %}">Boutique</a>
                <span class="breadcrumb-item active">Panier</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="container">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Produits</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for article in articles  %}
                    <tr>
                        <td class="align-middle"><img src="{{article.produit.imageUrl}}" alt="" style="width: 50px;">{{article.produit.name}}</td>
                        <td class="align-middle">{{article.produit.price|floatformat:2}} FCFA</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus update-panier" data-produit="{{article.produit.id}}" 
                                    data-action="remove">
                                    <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="quantite form-control form-control-sm bg-secondary border-0 text-center" value="{{article.quantite}}">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus update-panier" data-produit="{{article.produit.id}}" 
                                    data-action="add">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">{{article.get_total}}</td>
                        <td class="align-middle"><button class="btn btn-sm btn-danger update-panier" data-produit="{{article.produit.id}}" 
                            data-action="delete"><i class="fa fa-times"></i></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <!-- <form class="mb-30" action="">
                <div class="input-group">
                    <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Bonus</button>
                    </div>
                </div>
            </form> -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Contenu du Panier</span></h5>
            <div class="bg-light p-20 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex mb-3" style="position: relative; top: 20px; left: 90px;">
                        <h4>Articles: </h4>
                        <h5 style="position: relative; left: 50px;">{{commande.get_panier_article}}</h5>
                    </div>
                </div>
            </div>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>{{commande.get_panier_total|floatformat:2}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Livraison</h6>
                        <h6 class="font-weight-medium">0</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>{{commande.get_panier_total|floatformat:2}}</h5>
                    </div>
                    <a href="{% url 'shop:commande' %}" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Valider le payement</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->

<script src="{% static 'js/panier.js' %}"></script>

{% endblock content %}